*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    font-family: lato;

}
nav ul li a{
    color: #959595 !important;
}

.navbar-brand{
    background-image: linear-gradient( to right ,rgb(134, 134, 234), #347aeb);
    background-clip: text;
    font-weight: 700;
    font-size: 30px !important;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
    
   
}
.hero-img-wrapper img{
    width: 100%;
     max-width: 450px;
    height: 500px;
    background: none;
  
}
.hero-content-wrapper h1{
     background-image: linear-gradient( to right ,rgb(143, 143, 223), rgb(45, 59, 216),rgb(6, 6, 222)
     );
    background-clip: text;
    font-weight: 700;
    font-size: 54px !important;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent

}

.card-wrapper{
    display: flex !important;
    flex-wrap: wrap !important;
    gap: 20px;
    align-items: stretch;
    justify-content: center;
    margin-top: 80px;
}
.fa-solid{
    font-size: 30px;
    margin-top: 20px;
     color: rgb(87, 132, 229);
}
.card h5{
   color:  rgb(87, 132, 229);;
}
.card{
    max-width: 100%;
    width: 25%;
    background-color: #201d1d !important;
    padding: 15px;
    border-radius: 20px !important;
    transition: 0.3s ease;
}
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}
.card-text{
    font-weight: 400;
    color: rgb(155, 155, 155);
    margin-top: 20px;
    font-size: 14px;

}
.about-img-wrapper{
    display: flex;
    justify-content: center;

    
}
.about-img-wrapper img{
    width: 100%;
    max-width: 500px;
    height: 800px;
}
.about-content-wrapper{
    width: 40%;

}
.about-main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 65px;
    margin-top: 50px;
    flex-wrap: wrap;
}
.about-content-wrapper p{
    
    text-align: justify;
}

.about-section{
    max-width: 100%;
}
.subtitle{
   max-width: 400px;
   text-align: center ;
    
}

.contact-section {
  padding: 60px 20px;
  background-color: #1a1a1a;
}
.contact-section-wrapper{
    max-width: 600px;
    width: 100%;
}

.contact-container h2 {
  text-align: center;
  margin-bottom: 10px;
}

.contact-container p {
  text-align: center;
  margin-bottom: 25px;
  color: #666;
}

.contact-form .form-group {
  margin-bottom: 15px;
  width: 100%;
  padding-bottom: 30px;
  
}

.contact-form input,
.contact-form select,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  outline: none;
  font-size: 14px;
  background-color: #414040;
  border: none;
  color: rgb(176, 174, 174);
}

.btn-submit:hover {
  background-color: #084298;
}

footer{
    background-color: rgb(32, 32, 32);
    border-radius : 10px 10px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px;
    color:rgb(155, 155, 155);
    flex-wrap: wrap-reverse;

}

.mainf{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer2{
    display: flex;
    flex-direction: column;
    gap: 15px;
   
}
.footer2 a{
    text-decoration: none;
}
.footer4{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.nev2 , .nev2 a{
    color: rgb(172, 168, 168);
    display: flex;
    gap: 20px;

   
    text-decoration: none; 
    
}
.icon i{
    font-size: 25px;

}
.footer2 a, .icon a{
     color: #A79E9E;
}
.icon a{
    padding-left: 10px;
    color: rgb(87, 132, 229);
}

.nav2 ,a:hover{
    color: gray;
    transition: .3s;
}
.icon i:hover{
    color: rgb(143, 151, 154);
     transition: .3s;
}

@media(max-width:1250px){
    .footer2{
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .bio2 h1{
        font-size: 38px
    }
    .bio2 p {
        display: flex;
        font-size: 14px;
        padding-left: 10px;
        margin: 0px 12px 0px 12px;
 
    }
}
@media (max-width: 992px) {
    .card{
        flex: 0 1 calc(50% - 20px);
    }
}

@media (max-width: 576px) {
    .card{
        flex: 0 1 100%;
    }
    .nev2 , .nev2 a{
    color: #A79E9E;
    display: flex;
    gap: 7px;
    flex-direction: column;
    margin-bottom: 20px;
}
}

@media (max-width:991px) {
    .hero-wrapper{
        gap: 0px !important;
        
      
    }
    .about-content-wrapper{
     width: 100%;


 }
.hero-content-wrapper{
    margin-bottom: 100px;
}
.about-title-wrapper{
    margin: none;
}

}